<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <add name="ModelEntities" connectionString="metadata=res://*/Model.Model.csdl|res://*/Model.Model.ssdl|res://*/Model.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MJ05FJHC\SQLEXPRESS;Initial Catalog=DESARROLLO_20180508;Persist Security Info=True;User ID=sa;Password=corderosa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="BD_Produccion" connectionString="Data Source=MJ05FJHC\SQLEXPRESS;Initial Catalog=DESARROLLO_20180508;User ID=sa;Password=corderosa" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key="LogPath" value="C:\\AltoTest\\GPSTrack_Sitrans\\Log"/>
    <add key="LogEnabled" value="False"/>
    <add key="DeployDestination" value="US"/>
    <!--Values can be US or CL-->
  
   <!--API TICKET-->
    <add key="UrlTicket" value="https://soporte.altotrack.com/public/api_ticket.aspx"/>
    <add key="LlavePerfil" value="GEN"/>
    <add key="LlaveFormato" value="SITRANS"/>
    <add key="ENVIADO_DESDE" value="WEB SITRANS"/>
    <add key="ORIGEN_TICKET" value="Sitio Web"/>
    <add key="COMODIN_OTRO" value="OTRO"/>    
    <!--API TICKET-->
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime maxRequestLength="500000" maxUrlLength="500000" maxQueryStringLength="500000"/>
    <customErrors mode="Off"/>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>

    <security>
      <requestFiltering>
        <requestLimits maxQueryString="500000" maxUrl="500000" maxAllowedContentLength="30000000"/>
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <clear/>
        <add name="X-UA-Compatible" value="IE=10"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITrack_GoogleAPI"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://ws4.altotrack.com/MapsWebService/Track_GoogleAPI.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITrack_GoogleAPI" contract="ServiceTrack_GoogleAPI.ITrack_GoogleAPI" name="BasicHttpBinding_ITrack_GoogleAPI"/>
    </client>
  </system.serviceModel>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="itextsharp" publicKeyToken="8354AE6D2174DDCA" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.5.13.0" newVersion="5.5.13.0"/>
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
