<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITrack_GoogleAPI"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ws4.altotrack.com/MapsWebService/Track_GoogleAPI.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITrack_GoogleAPI" contract="ServiceTrack_GoogleAPI.ITrack_GoogleAPI" name="BasicHttpBinding_ITrack_GoogleAPI"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
